@model ChangeLangVM
<div class="input-group mb-3">
    <form asp-controller="Values" asp-action="ChangeCulture" method="post">
        @{
            string currentLang = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToLower();
        }
        <input type="text" asp-for="url" value="@(Context.Request.Path.Value + Context.Request.QueryString.Value)" hidden />

        <select class="custom-select" asp-for="newCulture" onchange="this.form.submit()">
            <option style="background-image:url(~/img/flags/@(currentLang.ToLower()).png);" value="@currentLang.ToUpper()" selected disabled>@currentLang.ToUpper()</option>
            @foreach (var l in ValuesController.GetAvLang(currentLang))
            {
            <option style="background-image:url(~/img/flags/@(l.nativeLang.ToLower()).png);" value="@l.nativeLang">@l.publicLang</option>
            }
        </select>
    </form>
</div>