@model CalcEquationVM;
@inject IHtmlLocalizer<CommonResource> commonLocalizer
@inject IViewLocalizer pageLocalizer;

@{
    ViewData["Title"] = pageLocalizer["page_title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @pageLocalizer["main_title"]
</h1>

<div>
    <div>
        <partial name="_EquationFormPartial.cshtml" model="Model.PostModel" />
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <span style="color:darkred">@ViewBag.ErrorMessage</span>
    }

    <div>
        @if (Model.CalculationResultModel != default)
        {
            <partial name="_CalculationResultsPartial.cshtml" model="Model.CalculationResultModel" />
        }
    </div>


    <div>

        <div>
            <h3>
                @pageLocalizer["algorithm_title"]
            </h3>

            <p>
                @Html.Raw(pageLocalizer["main_theory_text"].Value)
            </p>
        </div>

        <div>
            <h3>
                @pageLocalizer["block_schema_title"]
            </h3>

            <img src="~/img/block-schemas/GradientDescend_@(commonLocalizer["two_latter_iso_code"]).png" />
        </div>

    </div>




</div>
